.profile-page {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100vw;
}

.profile-page h1 {
    color: #fff;
    margin-top: 10px;
}

.createdChar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.createBtn {
    margin-right: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: gold;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 8px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
}

.createBtn:hover {
    background: red;
    color: white;
}
