* {
  margin: 0;
  padding: 0;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  width: 100%;
  height: 3rem;
  z-index: 3;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(86, 1, 1);
  height: 100%;
  width: 100vw;
}

.navPic {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 25px;
  position: relative;
}

.navPic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

nav ul {
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
}

nav ul li {
  width: calc(100% / 4); /* divide the width by the number of li elements */
  padding: 0 12.5px; /* increase the padding to add more space between links */
  transition: all 0.5s ease-in-out;
}

nav ul li:last-child {
  margin-right: 25px;
}

nav ul li a {
  /*  allow the a tags to take up the available space */
  /* flex: 1;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 1.0rem;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  color: black;
}

nav ul li:hover {
  background-color: red;
  cursor: pointer;
}
